/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

/* 
F9F5F2 - white
2D2D2D - black
BF8F4E - golden
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Teko";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bf8f4e;
}

code {
  font-family: "Teko", sans-serif;
}
.heading {
  padding-top: 50px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  background-color: #bf8f4e;
}

@media (max-width: 768px) {
  .heading {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6em;
  }
}
