/* 
F9F5F2 - white
2D2D2D - black
BF8F4E - golden
*/


body {
  margin: 0;
  font-family: 'Meltow' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F5F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
